.img-circle {
  padding: 30px;
  width: 200px;
  border-radius: 50%;
}

.wrapper-grey {
  background-color: $light-gray;
  padding: 200px 0;
}

.container-white {
  background-color: white;
  color: $blue;
  font-weight: bold;
}
